name = "certy"
main = ".svelte-kit/cloudflare/_worker.js"
compatibility_date = "2026-02-25"
workers_dev = true

[observability]
[observability.logs]
enabled = true
invocation_logs = true
[observability.traces]
enabled = true

[assets]
directory = ".svelte-kit/cloudflare"
binding = "ASSETS"
